<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>E-Caco</display-name>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.caco.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEvent</servlet-name>
        <servlet-class>com.caco.servlet.SearchEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>com.caco.servlet.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscription</servlet-name>
        <servlet-class>com.caco.servlet.Inscription</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>About</servlet-name>
        <servlet-class>com.caco.servlet.About</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <jsp-file>jsp/payment.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>Panier</servlet-name>
        <servlet-class>com.caco.servlet.Panier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.caco.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterPanier</servlet-name>
        <servlet-class>com.caco.servlet.AjouterPanier</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>RetirerPanier</servlet-name>
        <servlet-class>com.caco.servlet.RetirerPanier</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>com.caco.servlet.Admin</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEvent</servlet-name>
        <url-pattern>/SearchEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscription</servlet-name>
        <url-pattern>/Inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterPanier</servlet-name>
        <url-pattern>/AjouterPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetirerPanier</servlet-name>
        <url-pattern>/RetirerPanier</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>About</servlet-name>
        <url-pattern>/About</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Panier</servlet-name>
        <url-pattern>/Panier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>Connects to database for Ecaco application</description>
        <res-ref-name>jdbc/__dac</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <listener>
        <listener-class>
            com.caco.Init
        </listener-class>
    </listener>
    <!-- Uncomment the following to activate authentication
        Default user/password is jonas/jonas or tomcat/tomcat-->
    <!--    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected area</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>jonas-admin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>webapp Real (using JOnAS Realm)</realm-name>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/logerror.html</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <role-name>jonas-admin</role-name>
    </security-role>-->
</web-app>
